<%= form_for @employee do |f| %>
	<fieldset>
		<legend>Employee details</legend>
		<p>
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	</fieldset>
<% end %>