<%= form_for @user do |f| %>
	<p>
		<%= f.label :first_name %><br>
		<%= f.text_field :first_name %>
	</p>
	<p>
		<%= f.label :last_name %><br>
		<%= f.text_field :last_name %>
	</p>
	<p>
		<%= f.label :tel_no %><br>
		<%= f.text_field :tel_no %>
	</p>
<% end %>